body {
  margin: 15px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 20px;
  padding: 0 10px;
  /* Use system fonts */
  font-family: system-ui, sans-serif;
  color: #222;
  background-color: #eee;
}

/* Change color in night mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #222;
  }

  a:link {
    color: lightskyblue;
  }

  a:visited {
    color: violet;
  }

  /* Fixes for mermaid's appearance */
  pre.mermaid {
    path {
      stroke: #eee !important;
      fill: #eee;
    }

    .edgeLabel {
      background-color: #222 !important;
      color: #eee !important;
    }
  }
}

pre.mermaid {
  text-align: center;
}

code {
  font-size: 17px;
}

nav {
  font-size: 30px;
  a {
    margin-right: 10px;
  }
}

table {
  text-align: center;
  border-spacing: 15px 5px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

img {
  width: 100%;
  align-self: center;
}

footer {
  text-align: center;
  font-size: 12px;
}

blockquote {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 2px solid;
  footer {
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
  }
}
