{% extends "base.html" %}
<!--/>
{% block description %}{{ section.description | safe }}{% endblock %}
<!--/>
{% block title %}{{ section.title | safe }}{% endblock %}
{% block title2 %}{{ section.title | safe }}{% endblock %}
<!--/>

{% block content %}
{{section.content | safe }}
{% for year, posts in section.pages | group_by(attribute="year") %}
<h2>{{ year }}</h2>

<ul>
{% for post in posts %}
    <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}
{% endblock %}
